In [1]:
#scraping data from https://www.naukri.com/

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\praje\anaconda3\lib\site-packages (4.22.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\praje\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\praje\anaconda3\lib\site-packages (from selenium) (0.26.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\praje\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\praje\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\praje\anaconda3\lib\site-packages (from selenium) (4.12.2)
Requirement already satisfied: websocket-client>=1.8.0 in c:\users\praje\anaconda3\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\praje\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\praje\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\praje\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\praje\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\praje\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\praje\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\praje\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\praje\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\praje\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\praje\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By
import time

In [7]:
#Answer-01:
#scrapping the first 10 data as 1.) Job title, 2.) Job location, 3.) Company name, 4.) experience required

driver01 = webdriver.Chrome()

In [8]:
#requesting to get the webpage
driver01.get("https://www.naukri.com/")

In [10]:
#entering the designation
designation01 = driver01.find_element(By.CLASS_NAME, "suggestor-input ")
designation01.send_keys("Data Scientist")

In [12]:
#clicking search for the entered designation
search01 = driver01.find_element(By.CLASS_NAME, "qsbSubmit")
search01.click()

In [15]:
#filtering location wise
locationfilter01 = driver01.find_element(By.XPATH, "/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[4]/div[2]/div[3]/label/i")
locationfilter01.click()

In [16]:
#filtering salary wise
salaryfilter01 = driver01.find_element(By.XPATH, "/html/body/div/div/main/div[1]/div[1]/div/div/div[2]/div[5]/div[2]/div[2]/label/i")
salaryfilter01.click()

In [19]:
#scarpping the given details for the first 10 itmes

job_title = []
job_location = []
company_name = []
experience_required = []

#scrapping the titles from the given page
title_tags01 = driver01.find_elements(By.XPATH, '//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title_tags01[0:10]:
    title01=i.text
    job_title.append(title01)
    
#scrapping the locations from the given page
location_tags01 = driver01.find_elements(By.XPATH, '//span[@class="ni-job-tuple-icon ni-job-tuple-icon-srp-location loc"]')
for i in location_tags01[0:10]:
    location01 = i.text
    job_location.append(location01)
    
#scrapping company name from given page
company_tags01 = driver01.find_elements(By.XPATH, '//div[@class=" row2"]/span/a[1]')
for i in company_tags01[0:10]:
    company01 = i.text
    company_name.append(company01)
    
#scrapping required experience from the given page
experience_tags01 = driver01.find_elements(By.XPATH, '//span[@class="expwdth"]')
for i in experience_tags01[0:10]:
    experience01 = i.text
    experience_required.append(experience01)

In [20]:
print(len(job_title), len(job_location), len(company_name), len(experience_required))

10 10 10 10

In [23]:
import pandas as pd
df = pd.DataFrame({'Title': job_title, 'Location':job_location, 'Company Name': company_name, 'Experience':experience_required})
df

,Title,Location,Company Name,Experience
0,Data Scientist,"Delhi / NCR, Pune, Bengaluru",Wipro,6-11 Yrs
1,Data Scientist III,Gurugram,Flutter,2-6 Yrs
2,Data Scientist,New Delhi,Sociomix,0-5 Yrs
3,Data scientist,Gurugram,Growthjockey,0-1 Yrs
4,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Essenware,2-5 Yrs
5,Data Scientist (Telco),"Gurugram, Bengaluru",PayU,2-7 Yrs
6,Data Scientist,Gurugram,Orange Business Services,3-5 Yrs
7,Data Scientist,Noida,Ericsson,3-7 Yrs
8,Data Scientist,Noida,Times Internet,3-8 Yrs
9,Data Scientist,Noida,Ericsson,3-7 Yrs

In [25]:
#Answer-02
#scrapping the first 10 data as 1.) Job title, 2.) Job location, 3.) Company name, 4.) experience required
driver02 = webdriver.Chrome()
driver02.get("https://www.shine.com/")

In [27]:
#entering designation as per required in the question

designation02 = driver02.find_element(By.CLASS_NAME, "form-control  ")
designation02.send_keys("Data Analyst")

#entering location as per required in the question
location02 = driver02.find_element(By.XPATH, "/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location02.send_keys("Bangalore")

In [35]:
#clciking on search button

search02 = driver02.find_element(By.CLASS_NAME, "searchForm_btnWrap_advance__VYBHN")
search02.click()

In [40]:
#scarpping the given details for the first 10 itmes

job_title = []
job_location = []
company_name = []
experience_required = []

#scrapping the titles from the given page
title_tags02 = driver02.find_elements(By.XPATH, '//strong[@class="jobCard_pReplaceH2__xWmHg"]/p/a')
for i in title_tags02[0:10]:
    title02=i.text
    job_title.append(title02)
    
#scrapping the locations from the given page
location_tags02 = driver02.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags02[0:10]:
    location02 = i.text
    job_location.append(location02)
    
#scrapping company name from given page
company_tags02 = driver02.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags02[0:10]:
    company02 = i.text
    company_name.append(company02)
    
#scrapping required experience from the given page
experience_tags02 = driver02.find_elements(By.XPATH, '//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags02[0:10]:
    experience02 = i.text
    experience_required.append(experience02)

In [41]:
import pandas as pd
df = pd.DataFrame({'Title': job_title, 'Location':job_location, 'Company Name': company_name, 'Experience':experience_required})
df

,Title,Location,Company Name,Experience
0,"Data Analyst , Senior Data Analyst , Data Anal...",Bangalore\n+8,appsoft solutions,0 to 4 Yrs
1,Data Analyst,Bangalore\n+4,aryan technology,0 to 4 Yrs
2,Hr Data Analyst,Bangalore,leverage business solutions private...,4 to 8 Yrs
3,Data Analyst,Bangalore,phoenix global re settlement servic...,3 to 8 Yrs
4,Data Analyst,Bangalore,subhadra jobs consultancy hiring fo...,2 to 7 Yrs
5,Data Analyst,Bangalore,subhadra jobs consultancy hiring fo...,2 to 7 Yrs
6,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
7,Data Analyst,Bangalore,ltimindtree limited,5 to 10 Yrs
8,Data Analyst,Bangalore\n+18,neo impex stainless private limited,9 to 14 Yrs
9,Lead Data Analyst,Bangalore\n+8,mackenzie modern it solutions priva...,5 to 9 Yrs

In [17]:
#Asnswer-03:
#Scrapping the 100 reviews from the flipkart.com for iphone11 phone

driver03 = webdriver.Chrome()
driver03.get("https://www.flipkart.com/apple-iphone-11-white-128-gb/product-reviews/itme32df47ea6742?pid=MOBFWQ6B7KKRXDDS&lid=LSTMOBFWQ6B7KKRXDDSULUZ0N&marketplace=FLIPKART")

In [20]:
#scrapping the first 10 webpages for 100 reviews details

rating03 = []
review_summary03 = []
full_review03 = []


for page in range(0,10): #for looping for the particular page
    ratings = driver03.find_elements(By.XPATH, '//div[@class="XQDdHH Ga3i8K"]') #scrapping the ratings from given page
    for i in ratings:
        rating03.append(i.text)
    review_summaries = driver03.find_elements(By.XPATH, '//p[@class="z9E0IG"]') #scrapping the review summary from given page
    for i in review_summaries:
        review_summary03.append(i.text)
    full_reviews = driver03.find_elements(By.XPATH, '//div[@class="ZmyHeo"]') #scrapping the full review from given page
    for i in full_reviews:
        full_review03.append(i.text)
        
    next_button03 = driver03.find_element(By.XPATH, '//nav[@class="WSL9JP"]/a[12]/span') #To scrap data from next poge
    next_button03.click()
    time.sleep(3)

In [21]:
import pandas as pd
df = pd.DataFrame({'Ratings': rating03[0:100], 'Review Summary':review_summary03[0:100], 'Full review': full_review03[0:100]})
df

,Ratings,Review Summary,Full review
0,5,Fabulous!,Superüî• and good performance üëå‚ù§Ô∏è
1,5,Perfect product!,V Good all
2,5,Super!,Good product üëåI love iPhone
3,5,Awesome,iPhone 11 is a good phone. Not a very big diff...
4,5,Highly recommended,Awesome Battery Life...Camera clarity is too g...
...,...,...,...
90,5,Terrific purchase,Awesom Product.. Very good Experience
91,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
92,4,Pretty good,Gud one
93,5,Great product,Very good mobile... excellent camera and very ...
94,4,Wonderful,Good product got how i was excepted\nValue for...

In [150]:
#Answer-04:
#Scrapping the details from the flipkart.com for 100 items

driver04 = webdriver.Chrome()
driver04.get("https://www.flipkart.com/")

In [151]:
#entering search keyword "sneakers" as per required in the question

search_item04 = driver04.find_element(By.CLASS_NAME, "Pke_EE")
search_item04.send_keys("Sneakers")

click04 = driver04.find_element(By.CLASS_NAME, '_2iLD__')
click04.click()

In [157]:
#scrapping the details for 100 items

brand04 = []
product_description04 = []
price04 = []


for page in range(0,3): #'for' looping for the particular page
    brands = driver04.find_elements(By.XPATH, '//div[@class="syl9yP"]') #scrapping the brand name from given page
    for i in brands:
        brand04.append(i.text)
    product_details = driver04.find_elements(By.XPATH, '//div[@class="hCKiGj"]/a[1]') #scrapping the product description from given page
    for i in product_details:
        product_description04.append(i.text)
    prices = driver04.find_elements(By.XPATH, '//div[@class="Nx9bqj"]') #scrapping the prices from given page
    for i in prices:
        price04.append(i.text)
        
    next_button04 = driver04.find_element(By.XPATH, '//nav[@class="WSL9JP"]/a[12]/span') #To scrap data from next poge
    next_button04.click()
    time.sleep(3)

In [158]:
import pandas as pd
df = pd.DataFrame({'Brand Name':brand04[0:100], 'Product Description':product_description04[0:100], 'Price':price04[0:100]})
df

,Brand Name,Product Description,Price
0,BRUTON,Lattest Sneakers Shoe Sneakers For Men,‚Çπ297
1,Aeonik,OGIY RETRO SHOES HIGH PREMIUM QUALITY Sneakers...,‚Çπ497
2,RapidBox,Sneakers For Men,‚Çπ795
3,ATOM,Spring Edge Alpha 2 Sneakers For Men,"‚Çπ1,139"
4,Red Tape,Sneaker Casual Shoes for Men | Soft Cushioned ...,"‚Çπ1,029"
...,...,...,...
95,HIGHLANDER,Sneakers For Men,‚Çπ559
96,ATOM,Street Swagger Sneakers For Men,"‚Çπ1,485"
97,PUMA,Future Rider Double Sneakers For Men,"‚Çπ2,880"
98,HRX by Hrithik Roshan,URBAN CHUNKY Sneakers For Men,‚Çπ879
99,PUMA,ST Runner v3 L Sneakers For Men,"‚Çπ2,150"

In [125]:
#Answer-05:
#Scrapping the 100 reviews from the amazon.com for Laptop phone

driver05 = webdriver.Chrome()
driver05.get(" https://www.amazon.in/")

In [126]:
#entering search keyword "Laptop" as per required in the question

search_item05 = driver05.find_element(By.XPATH, '//div[@class="nav-search-field "]/input')
search_item05.send_keys("Laptop")

click05 = driver05.find_element(By.XPATH, '//span[@class="nav-search-submit-text nav-sprite nav-progressive-attribute"]/input')
click05.click()

In [127]:
#filter with cpu type as intel core i7
filtering_cpu_type = driver05.find_element(By.XPATH, '//li[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/div/label/i')
filtering_cpu_type.click()

In [138]:
#scrapping the first 10 items

title = []
rating = []
price = []

    
titles05 = driver05.find_elements(By.XPATH, '//span[@class="a-size-medium a-color-base a-text-normal"]') #scrapping the title name from given page
for i in titles05[0:10]:
    title.append(i.text)
rating05 = driver05.find_elements(By.XPATH, '//span[@class="a-size-base s-underline-text"]') #scrapping the ratings from given page
for i in rating05[0:10]:
    rating.append(i.text)
price05 = driver05.find_elements(By.XPATH, '//span[@class="a-price"]/span/span[2]') #scrapping the prices from given page
for i in price05[0:10]:
    price.append(i.text)

In [139]:
print(len(title), len(rating), len(price))

10 10 10

In [140]:
print(rating)

['131', '63', '337', '44', '270', '22', '122', '686', '106', '39']

In [141]:
import pandas as pd
df = pd.DataFrame({'Item Title':title, 'Ratings':rating, 'Price':price})
df

                                          Item Title Ratings   Price
0  MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...     131  47,990
1  HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...      63  65,490
2  Lenovo IdeaPad 3 Intel Core i7 12th Gen 1255U ...     337  62,009
3  Bestor 4-Port USB 3.0 Hub [90¬∞/180¬∞ Degree Rot...      44     599
4  ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...     270  64,990
5  Lenovo IdeaPad Slim 5 Intel Core i7 13700H 16"...      22  84,190
6  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...     122  78,850
7  Dell Latitude 7480 14in FHD Laptop PC - Intel ...     686  80,490
8  Dell [Smartchoice Inspiron 5430 Thin & Light L...     106  83,990
9  HP Pavilion 15, 13th Gen Intel Core i7-1360P, ...      39  88,990

In [201]:
#Answer-06:
#scrapping the top 1000 quotes of all time from https://www.azquotes.com/ 

driver06 = webdriver.Chrome()
driver06.get("https://www.azquotes.com/")

In [202]:
#clicking on top quotes

click06 = driver06.find_element(By.XPATH, '//div[@class="mainmenu"]/ul/li[5]/a')
click06.click()

In [204]:
quote = []
author = []
quote_type = []

for page in range(0,10): #'for' looping for the particular page
    quotes = driver06.find_elements(By.XPATH, '//ul[@class="list-quotes"]/li/div/p/a[2]') #scrapping the quotes from given page
    for i in quotes:
        quote.append(i.text)
    authors = driver06.find_elements(By.XPATH, '//ul[@class="list-quotes"]/li/div/div/a') #scrapping the authors from given page
    for i in authors:
        author.append(i.text)
    quote_types = driver06.find_elements(By.XPATH, '//ul[@class="list-quotes"]/li/div/div[2]') #scrapping the type of quotes from given page
    for i in quote_types:
        list_i = []
        list_i.append(i.text)
        quote_type.append(list_i)
        
    next_button06 = driver06.find_element(By.XPATH, '//li[@class="next"][1]') #To scrap data from next poge
    next_button06.click()
    time.sleep(2)

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//li[@class="next"][1]"}
  (Session info: chrome=126.0.6478.127); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
	GetHandleVerifier [0x00007FF60678EEA2+31554]
	(No symbol) [0x00007FF606707ED9]
	(No symbol) [0x00007FF6065C872A]
	(No symbol) [0x00007FF606618434]
	(No symbol) [0x00007FF60661853C]
	(No symbol) [0x00007FF60665F6A7]
	(No symbol) [0x00007FF60663D06F]
	(No symbol) [0x00007FF60665C977]
	(No symbol) [0x00007FF60663CDD3]
	(No symbol) [0x00007FF60660A33B]
	(No symbol) [0x00007FF60660AED1]
	GetHandleVerifier [0x00007FF606A98B1D+3217341]
	GetHandleVerifier [0x00007FF606AE5AE3+3532675]
	GetHandleVerifier [0x00007FF606ADB0E0+3489152]
	GetHandleVerifier [0x00007FF60683E776+750614]
	(No symbol) [0x00007FF60671375F]
	(No symbol) [0x00007FF60670EB14]
	(No symbol) [0x00007FF60670ECA2]
	(No symbol) [0x00007FF6066FE16F]
	BaseThreadInitThunk [0x00007FFB610F7344+20]
	RtlUserThreadStart [0x00007FFB6303CC91+33]

In [205]:
print(len(quote), len(author), len(quote_types))

1000 1000 100

In [208]:
import pandas as pd
df = pd.DataFrame({'Quote':quote[0:1000], 'Author':author[0:1000]})
df

                                                 Quote              Author
0    The essence of strategy is choosing what not t...      Michael Porter
1    One cannot and must not try to erase the past ...          Golda Meir
2    Patriotism means to stand by the country. It d...  Theodore Roosevelt
3    Death is something inevitable. When a man has ...      Nelson Mandela
4    You have to love a nation that celebrates its ...        Erma Bombeck
..                                                 ...                 ...
995  Regret for the things we did can be tempered b...    Sydney J. Harris
996  America... just a nation of two hundred millio...  Hunter S. Thompson
997  For every disciplined effort there is a multip...            Jim Rohn
998  The spiritual journey is individual, highly pe...            Ram Dass
999  The mind is not a vessel to be filled but a fi...            Plutarch

[1000 rows x 2 columns]

In [3]:
#Answer-07:
#scrapping the details of respected former prime ministers of india

driver07 = webdriver.Chrome()
driver07.get("https://www.jagranjosh.com/general-knowledge/list-ofall-prime-ministers-of-india-1473165149-1")

In [ ]:
#scarpping the details of respected former prime ministers

name = []
born_dead = []
office_term = []
remarks = []

#scrapping the Names from the given page
names = driver07.find_elements(By.XPATH, '//div[@class="TableData"]/table/tbody/tr/td[2]/div')
for i in names:
    names07=i.text
    name.append(names07)
    
#scrapping the Born-dead from the given page
born_deads = driver07.find_elements(By.XPATH, '//div[@class="TableData"]/table/tbody/tr/td[3]/div')
for i in born_deads:
    born_deads07 = i.text
    born_dead.append(born_deads07)
    
#scrapping office term from given page
term_of_office = driver07.find_elements(By.XPATH, '//div[@class="TableData"]/table/tbody/tr/td[4]')
for i in term_of_office:
    office_term07 = i.text
    office_term.append(office_term07)

    #scrapping remarks from the given page
remarks = driver07.find_elements(By.XPATH, '//div[@class="TableData"]/table/tbody/tr/td[5]')
for i in remarks:
    remark07 = i.text
    remarks.append(remark07)

In [ ]:
import pandas as pd
df = pd.DataFrame({'Names':name, 'Born-Dead':born_dead}, 'Term of office':office_term, 'Remarks':remarks)
df

In [14]:
#Answer-08
#scrapping the list of 50 most expensive cars in the world

driver08 = webdriver.Chrome()
driver08.get("https://www.motor1.com/")

In [15]:
#searching the keywords
search08 = driver08.find_element(By.XPATH, '/html/body/div[9]/div[2]/div/div/div[3]/div/div/div/form/input')
search08.send_keys("50 most expensive cars in the world")

#clicking the search button
click08 = driver08.find_element(By.XPATH, '/html/body/div[9]/div[2]/div/div/div[3]/div/div/button/svg')
click08.click()

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=126.0.6478.127)
Stacktrace:
	GetHandleVerifier [0x00007FF7361EEEA2+31554]
	(No symbol) [0x00007FF736167ED9]
	(No symbol) [0x00007FF736028559]
	(No symbol) [0x00007FF736071D73]
	(No symbol) [0x00007FF73606FEDB]
	(No symbol) [0x00007FF73609D02A]
	(No symbol) [0x00007FF73606BA76]
	(No symbol) [0x00007FF73609D240]
	(No symbol) [0x00007FF7360BC977]
	(No symbol) [0x00007FF73609CDD3]
	(No symbol) [0x00007FF73606A33B]
	(No symbol) [0x00007FF73606AED1]
	GetHandleVerifier [0x00007FF7364F8B1D+3217341]
	GetHandleVerifier [0x00007FF736545AE3+3532675]
	GetHandleVerifier [0x00007FF73653B0E0+3489152]
	GetHandleVerifier [0x00007FF73629E776+750614]
	(No symbol) [0x00007FF73617375F]
	(No symbol) [0x00007FF73616EB14]
	(No symbol) [0x00007FF73616ECA2]
	(No symbol) [0x00007FF73615E16F]
	BaseThreadInitThunk [0x00007FFCE0DE7344+20]
	RtlUserThreadStart [0x00007FFCE103CC91+33]

In [ ]:
#scrapping car details
car_name = []
price = []

cars = driver.find_element(By.XPATH, '//h3[@class="subheader"]')
for i in cars:
    car08 = i.text
    car_name.append(car08)
prices=driver.find_element(By.XPATH, '/html/body/div[9]/div[7]/div[2]/div[1]/div[2]/div[2]/p[4]/strong')
for i in prices:
    price08 = i.text
    price.append(price08)

In [ ]:
import pandas as pd
df = pd.DataFrame({'Car Name':car_name, 'Price':price})
df